<header class="site-header">
  <div class="container nav">
    <a routerLink="/"   routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">🏠</a>
    <a routerLink="/bird" routerLinkActive="active">🦜0</a>
    <a routerLink="/birdi" routerLinkActive="active">🦜1</a>
    <a routerLink="/kat"  routerLinkActive="active">🐈0</a>
    <a routerLink="/kata"  routerLinkActive="active">🐈1</a>
  </div>
</header>

<main class="site-main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<app-footer></app-footer>
