<h1>Bienvenue</h1>
<p>Objectif : replacer les fractions des formes pour compléter le puzzle.</p>
<p>Ce jeu existe aussi en physique. Vous pouvez regardez ici <a href="https://fractionary.be/"><b>Fractionnary</b></a></p>


<!-- video -->

<div class="video-gallery"> <!--attention le lien youtube ne fonctionne pas (peut-être du au local) -->
  <div class="video-youtube">
    <title>Video voiture mechanic</title>
    <iframe width="400" height="200" src="https://www.youtube.com/embed/lDodDc0_xN8" title="Mes kill , (snipe,Pompe,AR, One Shot) + Top 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe width="400" height="200"  src="https://youtube.com/embed/kjyeFtgbni0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe src="https://www.youtube.com/embed/VIDEO_ID_4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<!-- FORMES UTILISER -->
<p>
    Les formes que tu devra utilisées pour faire tes puzzles
</p>

<div class="formes">
         <div class="shape unit" style="--h: 170px; --c: rgb(239, 154, 72); margin-right: -20px;"></div> <!--FORME REMPLIE -->
            
        <div class="shape half" style="--h: 170px; --c: rgb(0, 70, 142); margin-right: 50px"></div> <!-- MOITIER -->
            
        <div class="shape third" style="--h: 170px; --c: rgb(218, 37, 29); margin-right: -20px"></div> <!-- TRIER -->
            
        <div class="shape quarterd" style="--h: 170px; --c: rgb(0, 146, 63); margin-right: -20px"></div> <!-- QUART -->
            
        <div class="shape sixth" style="--h: 170px; --c: rgb(255, 245, 0); margin-right: 30px"></div> <!-- SIXIEME -->
            
        <div class="shape ninth-mid" style="--h: 170px; --c: rgb(122, 64, 118); margin-right: -90px"></div> <!--  -->
            
        <div class="shape twelfthd" style="--h: 170px; --c: rgb(241, 154, 190); margin-right: -20px"></div> <!-- douzieme -->
            
        <div class="shape eighteenth" style="--h: 170px; --c: rgb(132, 202, 242);"></div> <!-- neuvieme -->     
</div>

<p>
    L'Oiseau
    <img src="" alt="">
    <a routerLink="/bird">Bird</a>
</p>

<p>
    Le chat
    <img src="" alt="">
    <a routerLink="kat">Chat</a>
</p>

<p>Bon jeux à toi !!!!</p>
