<h1>Bienvenue</h1>
<p>Objectif : replacer les fractions des formes pour compléter le puzzle.</p>
<p>Ce jeu existe aussi en physique. Vous pouvez regardez ici <a href="https://fractionary.be/"><b>Fractionnary</b></a></p>


<!-- video -->

<div class="video-gallery"> <!--attention le lien youtube ne fonctionne pas (peut-être du au local) -->
  <div class="video-youtube">
    <title>Video voiture mechanic</title>
    <iframe width="400" height="200" src="https://www.youtube.com/embed/lDodDc0_xN8" title="Mes kill , (snipe,Pompe,AR, One Shot) + Top 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe width="400" height="200"  src="https://youtube.com/embed/kjyeFtgbni0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe src="https://www.youtube.com/embed/VIDEO_ID_4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<!-- FORMES UTILISER -->
<p>
    Les formes que tu devra utilisées pour faire tes puzzles
</p>

<div class="formes-gallery">
        <div class="boiteforme"></div>
            <!-- <br> -->
        <div class="forme hexagone"></div>
            <!-- <br> -->
        <div class="forme trapeze"></div>
            <br>
        <div class="forme losange"></div>
            <br>
        <div class="forme trapezerectangle"></div>
            <br>
        <div class="forme triangleequilateral"></div>
            <br>
        <div class="forme parallelogramme"></div>
            <br>
        <div class="forme trianglerectangle"></div>
            <br>
        <div class="forme triangleisocele"></div>
</div>

<p>
    L'Oiseau
    <img src="" alt="">
    <a routerLink="/bird">Bird</a>
</p>

<p>
    Le chat
    <img src="" alt="">
    <a routerLink="/kat">Chat</a>
</p>

<p>Amuse-toi bien !</p>
