<h1>Bienvenue</h1>
<p class="explications">Vidéos : Remplir les plateaux oiseau et chat avec les blocs physiques.</p>



<!-- video -->

<div class="video-gallery"> <!--attention le lien youtube ne fonctionne pas (peut-être du au local) -->
  <div class="video-youtube">
    <title>Video voiture mechanic</title>
    <iframe width="400" height="200" src="https://www.youtube.com/embed/lDodDc0_xN8" title="Mes kill , (snipe,Pompe,AR, One Shot) + Top 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe width="400" height="200"  src="https://youtube.com/embed/kjyeFtgbni0" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe width="400" height="200" src="https://www.youtube.com/embed/VIDEO_ID_3" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="video-youtube">
    <iframe src="https://www.youtube.com/embed/VIDEO_ID_4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<br>
<br>

  <!-- FORMES UTILISER -->
<p class="explications">
  Voici les formes et les fractions que tu devras utiliser pour remplir tes plateaux dans les jeux vidéos :
</p>

<div class="formes">
         <div class="shape unit" style="--h: 170px; --c: rgb(239, 154, 72); margin-right: -20px;"></div> <!--FORME REMPLIE -->
            
        <div class="shape half" style="--h: 170px; --c: rgb(0, 70, 142); margin-right: 50px"></div> <!-- MOITIER -->
            
        <div class="shape third" style="--h: 170px; --c: rgb(218, 37, 29); margin-right: -20px"></div> <!-- TRIER -->
            
        <div class="shape quarterd" style="--h: 170px; --c: rgb(0, 146, 63); margin-right: -20px"></div> <!-- QUART -->
            
        <div class="shape sixth" style="--h: 170px; --c: rgb(255, 245, 0); margin-right: 30px"></div> <!-- SIXIEME -->
            
        <div class="shape ninth-mid" style="--h: 170px; --c: rgb(122, 64, 118); margin-right: -90px"></div> <!--  -->
            
        <div class="shape twelfthd" style="--h: 170px; --c: rgb(241, 154, 190); margin-right: -20px"></div> <!-- douzieme -->
            
        <div class="shape eighteenth" style="--h: 170px; --c: rgb(132, 202, 242);"></div> <!-- neuvieme -->     
</div>

<br>
<br>

  <!-- Cadre  -->

<div class="infoformes">
  <div class="TITRE">
    <p class="explications">
    Jeux vidéos :
    <br>
    Objectif : Replacer les formes des fractions dans les plateaux.
    </p>
  </div>

  <!-- Colone intérieur au cadre  -->
  
<div class="container-colonnes">
  <div>
    <p>L'Oiseau</p>
    <img class="ImageHomeVisuel" src="assets/images/Formeoiseau.png" alt="Forme de l'oiseau">
    <a routerLink="/bird">Lien vers le jeu du Bird</a>
  </div>

  <div>
    <p class="jeux">Choisis ton plateau !<br>Bon jeu à toi !!!!</p>
  </div>

  <div>
    <p>Le Chat</p>
    <img class="ImageHomeVisuel" src="assets/images/FormeChat.jpg" alt="Forme du chat">
    <a routerLink="kat">Lien vers le jeu du Chat</a>
  </div>
</div>


<p class="finacceuil">
  Lien vers le jeu final, évolutif, avec plusieurs niveaux :
<a href=""><b>(EN COURS DE DEVELOPPEMENT)</b></a>
<br>
<br>
  Ce jeu existe aussi en physique. Vous pouvez regarder ici sur
<a href="https://fractionary.be/"><b>https://fractionary.be</b></a>
</p>
