 .palette { display: flex; gap: 10px; flex-wrap:nowrap; justify-content:center; padding: 10px;border: black;} 
button { background: #fff; border:  #0c0303; border-radius: 12px; padding: 8px;  } 



button {
  background: #fff;
  border: 2px solid #0c0303;
  border-radius: 12px;
  padding: 8px;
}

button .content {
  display: flex;                /* alignement horizontal */
  align-items: center;          /* alignement vertical */
  gap: 8px;                     /* espacement forme / image */
  justify-content: center;
}

.palette-img {
  width: 70px;      /* adapte la taille selon ton besoin */
  height: 70px;
  object-fit: contain;
}
